* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #363636;
    overflow: hidden;
    display: flex;
}

.img > img {
    height: 120px;
    width: auto;
    vertical-align: middle;
}

.nav {
    float:left;
    width: 700px;
}

.nav > ul {
    height: 120px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px 10px;
}

.slider {
    background-image: url(../img/aueb.png);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.home-text {
    width: 50%;
    font-size: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    color:white
}

.small-text {
    font-size: 25px;
    width: 40%;
    font-weight: 300;
}

.main {
    display: flex;
    height: 400px ;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: center; */
    margin: 20px;
}

.main > h1 {
    margin: 20px 0;
}

.footer {
    display: flex;
    height: 120px;
    background-color: #363636;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
}

.fa-brands {
    color: blue;
    font-size: 30px;
}

.font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

